
.row, .sec{
  width:100%
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding:10px;
}
.col {
  width: 50%;
  height: 40px;

  display:flex;
  justify-content: center;
  align-items: center;

  /*background-color: aqua;*/
}

select, input{
  width:80%;
  height: 40px;
}

label {
  width: 10%;
  height: 40px;
  padding-left: 5px; 

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

#txt2, #txt1 {
  background-color: antiquewhite;
}