#boxofficeMain, #mvfooter {
  display: flex;

  flex-direction: column;

}

#boxofficeMain {
  height: 500px;
  
  justify-content: start;
  align-items: center;
}

#mvfooter {
  height: 80px;
  width: 60%;
  margin-left: 20%;
  background-color: brown;
  color: white;
  font-size: small;
  padding: 20px;

  justify-content: left;
  justify-content: center;
}


.sec , .divDt  {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.sec {
  width: 100%;
  flex-direction: column;
}

.divDt {
  width: 80%;
  height: 60px;
  background-color: aliceblue;
  flex-direction: row;

  border: 1px dotted gray;
}

input[type=date], select, fieldset {
  width: 40%;
  height: 30px;
  margin-left: 5px;
}

fieldset {
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
} 

label {
  margin-right: 5px;
  margin-left: 2px;
}

.sec > ul {
  list-style: none;
  width : 80%; 

  font-size: medium;
}

.mvli {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: start;
  align-items: center;

  margin: 0px 2px;
}

.mvli:hover {
  background-color: aliceblue;
  border-bottom: 1px solid blue;
}

.rank {
  width: 30px;
  height: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;

  border-radius: 10%;
  margin-right: 10px;
}

.rank:hover {
  background-color: brown;
}

.movieNm {
  width: 60%;
}

.openDt {
  width: 20%;
}

.rankInten {
  width: 10%;
  display: inline-flex;
  justify-content: center;
}

.spRed {
  color: red;
}

.spBlue {
  color: blue;
}

a {
  text-decoration: none;
}