* {
  padding: 0px;
  margin: 0px;
  
  box-sizing: border-box;
}

header, main, footer {
  width: 80%;
  margin-left: 10%;
}

header, main {
  background-color: aliceblue;
}

footer {
  background-color: black;
  color: white; 
}

header, header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;/*수평*/
  align-items: center;/*수직*/
}

header {
  height: 80px;
  padding: 20px;
}

/* nav > ul { */
/* header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

ul {
  list-style: none;
}

.menuLi {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: royalblue;
  color: white;
}

.menuLi:hover {
  background-color: chocolate; 
}

a {
  text-decoration: none;
  color: white;
}

li img {
  width: 20px;
  height: 20px;
}

article {
  padding: 60px; 
}

h1 , article > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}
 
section {
  margin: 20px ;
  padding: 20px 40px;
  background-color: darkolivegreen;
  color: white;
  border-radius: 15px;
}

h2 {
  padding-bottom: 20px;
}

.secDiv {
  display: flex;
  flex-direction: row;
}

.secDiv > div {
  width: 20%;
}

.secDiv img {
  width: 80%;
  border-radius: 50%;
}

.secDiv > p {
  width: 80%;
  font-size: medium;
  color: gray;
}
/*스크린 비율에 따라 웹화면 비율이 달라지도록 함*/
@media screen and (max-width : 1024px) {
  header, main, footer {
    width: 80%;
    padding-left: 0px;
  }
}

@media screen and (max-width : 768px) {
  header, header ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;/*수평*/
    align-items: center;/*수직*/  }
    header {
      height: auto;
      padding : 20px;
    }
    ul{
      height: auto;
      margin-bottom: 5px;;
    }
}
