
.sec{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%
}
.sec > input{
  width:40%;
  height: 30px;
}
#txt2 {
  background-color: bisque;
  text-align: center;
}


.sec>button {
  width:30%;
  margin: 5px;
}