.secDice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  margin: 10px;
}

.secDice > div , .secDice > button {
  margin: 5px;
}

.dice {
  padding: 10px;
}

.dice > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#msg {
  width: 90%;
  height: 40px;
  background-color: aliceblue;
  border: 1px dotted gray;
  padding: 10px;

  font-weight: bold;
  color: brown;
}