header{
  background-color: pink;
}

input{
  height: 55px;
}

.secDice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  margin: 10px;
}

.updown > div , .inputForm > button {
  margin: 5px;
}

.dice {
  padding: 10px;
}

#msg {
  width: 90%;
  height: 40px;
  background-color: aliceblue;
  border: 1px dotted gray;
  padding: 10px;

  font-weight: bold;
  color: brown;
}
